/*
h1, h2, h3, h4, h5, h6
{
  font-family: 'Roboto', sans-serif, Arial;
  font-weight: 400;
}

input, textarea, .wh-pulldown, .wh-spinner, .wh-pulldown-values, .wh-menu, .wh-datepicker, .wh-tagedit
{
  font-family: 'Roboto', sans-serif, Arial;
  font-size: 12px;
  font-weight: 400;
}

Why was this done ? Loading a theme shouldn't have to reset font styling??
Esp overwriting input,textarea, let just the site arrange for that (or if you have to, font:inherit)
*/

/* General menu styling */
.wh-menu-detached.wh-scrollableview-canscroll-v .wh-menu
{
  padding-right: 15px;
}
ul.wh-menu
{
  background: #fafafa;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  min-width:100px;
}
ul.wh-menu li
{
  color: #000000;
  padding: 3px 20px;
  height: 23px;
}
ul.wh-menu li.currentvalue::before
{
  content: "\2022";
  position:absolute;
  left:8px;
}

ul.wh-menu li.selected
/*, ul.wh-menu li:hover*/
{
  background-color: #95cdfe;
}

ul.wh-menu.hassubselect li.selected
{
  background: #b3b3b3;
}


ul.wh-menu li.disabled:hover
{
  background-color: transparent;
}
ul.wh-menu li.divider:hover
{
  background-color: transparent;
  color: inherit;
}
ul.wh-menulist li.disabled
{
  color: #b3b3b3;
}
ul.wh-menulist li.divider
{
  cursor: default;
  padding:3px 0px;
  height: 3px;
}

ul.wh-menulist li.divider:after /*using an after rule so our divider doesn't cover the background padding */
{
  content: "";
  display: block;
  background: 1px #b3b3b3;
  height: 1px;
}

/* basic input, textarea, select */
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
textarea,
.wh-pulldown,
.wh-spinner,
.wh-datepicker,
.wh-tagedit
{
  resize: none;
  min-width: 20px;
  min-height: 23px;
  position: relative;
  vertical-align: top;
}


input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
textarea,
.wh-pulldown,
.wh-spinner,
ul.wh-pulldown-values,
.wh-datepicker,
.wh-tagedit
{
  border: 1px solid #b3b3b3;
  border-radius: 2px;
  padding: 0 5px;
  color: #000000;
  font-size: 12px;
  line-height: 16px;
  /*font-family: 'Roboto', sans-serif, Arial;*/
  background: #fcfbfb;
}

textarea,
.wh-pulldown,
.wh-spinner,
ul.wh-pulldown-values,
.wh-datepicker
{
  padding: 1px 5px;
}

/* ensure item hover effects are fully stretched */
ul.wh-pulldown-values > .wh-scrollableview-content
{
  left:5px;
  right:5px;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='tel']:focus,
input[type='password']:focus,
textarea:focus,
.wh-pulldown:focus,
.wh-datepicker:focus,
.wh-tagedit:focus
{
  border-color: #000000;
}

input[type='text'][required],
input[type='email'][required],
input[type='tel'][required],
input[type='password'][required],
textarea[required],
.wh-pulldown.required,
ul.wh-pulldown-values.required,
.wh-spinner.required,
.wh-datepicker.required,
.required > input[type='text'],
.required > input[type='password'],
.required > textarea,
.required > .wh-pulldown,
.required > .wh-tagedit
{
  background: #fcf8d0;
  border-color: #b3b3b3;
}

input[type='text'][required]:focus,
input[type='email'][required]:focus,
input[type='tel'][required]:focus,
input[type='password'][required]:focus,
textarea[required]:focus,
.wh-pulldown.required:focus,
.wh-spinner.required:focus,
.wh-datepicker.required:focus,
.required > input[type='text']:focus,
.required > input[type='password']:focus,
.required > textarea:focus,
.required > .wh-pulldown:focus,
.required > .wh-tagedit:focus
{
  border-color: #52aefe;
}

input[type='text'][disabled],
input[type='email'][disabled],
input[type='tel'][disabled],
input[type='password'][disabled],
textarea[disabled],
.wh-pulldown.disabled,
.wh-spinner.disabled,
.wh-datepicker.disabled,
.disabled > input[type='text'],
.disabled > input[type='password'],
.disabled > textarea,
.disabled > .wh-pulldown,
.disabled > .wh-tagedit
{
  border-color: #b3b3b3;
  color: rgba(0,0,0,.5);
  background: url("bgdisabled.png");
}

input[type='text'][disabled]:focus,
input[type='email'][disabled]:focus,
input[type='tel'][disabled]:focus,
input[type='password'][disabled]:focus,
textarea[disabled]:focus,
.wh-pulldown.disabled:focus,
.wh-spinner.disabled:focus,
.wh-datepicker.disabled:focus
.disabled > input[type='text']:focus,
.disabled > input[type='password']:focus,
.disabled > textarea:focus,
.disabled > .wh-pulldown:focus,
.disabled > .wh-tagedit:focus
{
  border-color: #b3b3b3;
}
.error > input[type='text'],
.error > input[type='email'],
.error > input[type='tel'],
.error > input[type='password'],
.error > textarea,
.error > .wh-pulldown,
.error > .wh-spinner,
.error > .wh-datepicker,
.error > .wh-tagedit
{
  background: #fff2f2; /* Old browsers */
  border-color: #e77d7d;
}
.error > input[type='text']:focus,
.error > input[type='email']:focus,
.error > input[type='tel']:focus,
.error > input[type='password']:focus,
.error > textarea:focus,
.error > .wh-pulldown:focus,
.error > .wh-spinner:focus,
.error > .wh-datepicker:focus,
.error > .wh-tagedit:focus
{
  border-color: #b3b3b3;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'],
.wh-datepicker,
.wh-tagedit
{
  height: 23px;
}

input.withcounter
{
  padding-right: 50px;
  min-width: 80px;
}

/* radio and checkbox */
.wh-radiobutton,
.wh-checkbox
{
  height: 16px;
  width: 16px;
}
 .wh-radiobutton
, .wh-checkbox
{
  border-radius: 2px;
  border: 1px solid #b3b3b3;
  background-color: #fbfbfb;
  outline: none;
}
.wh-radiobutton
{
  border-radius: 8px;
}
  .wh-radiobutton:before
, .wh-checkbox:before
{
  content: '';
  background-color: transparent;
  display: block;
  width: 8px;
  height: 8px;
  margin: 3px;
  border-radius: 2px;
}
.wh-radiobutton:before
{
  border-radius: 4px;
}
  .wh-radiobutton:focus
, .wh-radiobutton:active
, .wh-checkbox:focus
, .wh-checkbox:active
{
  border-color: #308fe2;
}
  .wh-radiobutton.checked:before
, .wh-checkbox.checked:before
{
  background-color: #308fe2;
}
  .wh-radiobutton.disabled
, .wh-checkbox.disabled
{
  background-color: #e6e6e6;
  border-color: #b3b3b3;
  opacity: 0.5;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFUlEQVQImWNgQAInT55sIJXDwMAAAIZhC22Wkht8AAAAAElFTkSuQmCC');
  background-repeat: repeat;
}
.wh-checkbox.checked.disabled:before
{
  background-color: #b3b3b3;
}
.wh-radiobutton.checked.disabled:before
{
  box-shadow: inset 0 0 0 1px rgba(100,100,100,0.5);
  background-color: transparent;
}
  .wh-radiobutton.required
, .wh-checkbox.required
{
  background-color: #fcf7c9;
}
  .error > label > .wh-radiobutton
, .error > label > .wh-checkbox
{
  border-color: #e77d7d;
}


.wh-radiobutton.checked,
.wh-checkbox.checked
{
  background-position: 0 -16px;
}
.wh-radiobutton.disabled,
.wh-checkbox.disabled
{
  background-position: 0 -32px;
}
.wh-radiobutton.checked.disabled,
.wh-checkbox.checked.disabled
{
  background-position: 0 -48px;
}
  .wh-radiobutton.required
, .wh-checkbox.required
{
  background-position: 0 -64px;
}
  .wh-radiobutton.checked.required
, .wh-checkbox.checked.required
{
  background-position: 0 -80px;
}
  .error > label > .wh-radiobutton
, .error > label > .wh-checkbox
{
  background-position: 0 -96px;
}
  .error > label > .wh-radiobutton.checked
, .error > label > .wh-checkbox.checked
{
  background-position: 0 -112px;
}


  .radiogroup > label
, .checkboxgroup > label
{
  line-height: 16px;
  margin-bottom: 5px;
  display: block;
}
  .radiogroup label span.title
, .checkboxgroup label span.title
{
  display: inline-block;
  padding-left: 8px;
}
  .radiogroup > label > *
, .checkboxgroup > label > *
{
  float: left;
}
  .radiogroup > label:after
, .checkboxgroup > label:after
{
  clear: both;
  content: '';
  display: block;
}

/* forms pulldown */
.wh-pulldown
{
  background-image: -ms-linear-gradient(top, #FCFCFC 0%, #EBEBEB 89%);
  background-image: -moz-linear-gradient(top, #FCFCFC 0%, #EBEBEB 89%);
  background-image: -o-linear-gradient(top, #FCFCFC 0%, #EBEBEB 89%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FCFCFC), color-stop(89, #EBEBEB));
  background-image: -webkit-linear-gradient(top, #FCFCFC 0%, #EBEBEB 89%);
  background-image: linear-gradient(to bottom, #FCFCFC 0%, #EBEBEB 89%);
}
.wh-pulldown > ul
{
  display: none;
  margin: 0;
  padding: 0;
}
.wh-pulldown > .value
{
  display:inline-block;
  padding: 0 20px 0 0;
  vertical-align: middle;
  max-width:calc(100%);
  text-overflow:ellipsis;
}
.wh-pulldown > .arrow
{
  float: none;
  font-weight: bold;
  height: 6px;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 10px;
}
.wh-pulldown > .arrow:after
{
  content: none;
}
.wh-pulldown > .arrow
{
  background: url(pulldown-arrow.png) no-repeat 0 -18px;
}
.wh-pulldown.active > .arrow
{
  display: none;
}
.wh-pulldown.disabled > .arrow
{
  background-position: 0 -12px;
}

/* pulldown framework */
.wh-pulldown.active > .arrow
{
  display: inline-block;
}

/* Show an arrow for items with submenus, but not for the main menu bar items */
ul.wh-menulist li.hassubmenu
{
  padding-right: 12px;
  white-space: nowrap;
}
ul.wh-menulist li.hassubmenu:before
{
  content: "\25B8";
  float: right;
  display: inline-block;
  padding-left: 20px;
  /* margin-right: -12px; */
}

.wh-imageedit
{
  border:1px solid black;
  padding:3px;
  background: #eeeeee;
}

/* ===========================================================================

   Slider

*/
.wh-slider
{
  background-color: #ccc;
}
.wh-slider .knob
{
  margin-top:-5px;
  margin-left:-5px;
  height:10px;
  width:10px;
  border-radius:10px;
  background-color:#999999;
}
.wh-slider .rangebar
{
  background-color:#999999;
  top:-1px;
  height:3px;
}

/* character counter */
.wh-textlengthcounter
{
  position: absolute;
  right: 4px;
  bottom: 5px;
  line-height: 12px;
  height: 16px;
  font-size: 11px;
  color: #fff;
  background-color: #b8b8b8;
  padding: 1px 6px;
  border-radius: 8px;
  text-align: center;
  min-width: 30px;
}
.wh-textlengthcounter .separator
{
  display: inline-block;
  padding: 0 3px;
}


/* range slider */
.wh-slider-holder
{
  width: 200px;
  height: 50px;
  padding: 10px 30px;
  background-color: transparent;
  display: inline-block;
}
.wh-slider-holder.disabled
{
  opacity: 0.3;
}
.wh-slider-holder.disabled .wh-slider-knob
{
  cursor: default;
}
.wh-slider-holder.vertical
{
  padding: 20px 10px;
  width: 50px;
  height: 200px;
}
.wh-slider-holder.interval
{
  padding: 20px 20px 0;
}
.wh-slider-holder.interval.vertical
{
  padding: 20px 0 20px 20px;
}
.wh-slider-holder > .wh-slider
{
  height: 6px;
  width: 100%;
  border-radius: 2px;
  background-color: #e1e1e1;
  border: solid 1px #a7a7a7;
}
.wh-slider-holder.vertical > .wh-slider
{
  width: 6px;
  height: 100%;
  border-radius: 2px;
  background-color: #e1e1e1;
  border: solid 1px #a7a7a7;
}
.wh-slider-holder.interval > .wh-slider
{
  height: 1px;
  width: 100%;
  background-color: #aaa;
  border: 0 none;
}
.wh-slider-holder.interval.vertical > .wh-slider
{
  height: 100%;
  width: 1px;
  background-color: #aaa;
  border: 0 none;
}
.wh-slider-holder > .wh-slider > .minvalue
{
  margin: -6px 14px 0 0;
}
.wh-slider-holder > .wh-slider > .maxvalue
{
  margin: -6px 0 0 14px;
}
.wh-slider-holder.vertical > .wh-slider > .minvalue
{
  margin: 0  0 10px -20px;
  width: 40px;
  text-align: center;
}
.wh-slider-holder.vertical > .wh-slider > .maxvalue
{
  margin: 10px 0 0 -20px;
  width: 40px;
  text-align: center;
}
.wh-slider-holder > .wh-slider > .wh-slider-rangebar
{
  background-color: #288db4;
  height: 4px;
  margin-top: 1px;
  opacity: 0.5;
}
.wh-slider-holder.vertical > .wh-slider > .wh-slider-rangebar
{
  height: auto;
  width: 4px;
  margin-top: 0;
  margin-left: 1px;
}
.wh-slider-holder.interval > .wh-slider > .wh-slider-rangebar
{
  height: 2px;
  margin-top: 0;
  opacity: 1;
  background-color: #439bbd;
}
.wh-slider-holder.interval.vertical > .wh-slider > .wh-slider-rangebar
{
  height: auto;
  width: 2px;
  margin-left: 1px;
}
.wh-slider-holder > .wh-slider > .wh-slider-knob
{
  width: 14px;
  height: 21px;
  margin: -7px 0 0 -7px;
  background: transparent url(sliderknob-horizontal.png) 0 0 no-repeat;
  border-radius: 0;
}
.wh-slider-holder.vertical > .wh-slider > .wh-slider-knob
{
  width: 21px;
  height: 14px;
  background-image: url(sliderknob-vertical.png);
}
.wh-slider-holder.interval > .wh-slider > .wh-slider-knob
{
  margin: -16px 0 0 -7px;
}
.wh-slider-holder.interval.vertical > .wh-slider > .wh-slider-knob
{
  margin: -7px 0 0 -16px;
}
.wh-slider-holder > .wh-slider > .wh-tick
{
  background-color: #439bbd;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border: 2px solid #fff;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  margin-left: -4px;
}
.wh-slider-holder > .wh-slider > .wh-tick.ticklist
{
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-left: -6px;
}
.wh-slider-holder > .wh-slider > .wh-slider-knob > .value-wrapper
{
  text-align: center;
  position: absolute;
  top: 26px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wh-slider-holder > .wh-slider > .wh-slider-knob > .value-wrapper > .value
{
  background-color: #e5e5e5;
  border-radius: 2px;
  color: #333;
  font-size: 13px;
  display: inline-block;
  line-height: 19px;
  height: 19px;
  padding: 0 7px;
}
.wh-slider-holder.vertical > .wh-slider > .wh-slider-knob > .value-wrapper
{
  top: 50%;
  width: auto;
  max-width: 100px;
  display: inline-block;
  margin-left: 0;
  margin-top: -10px;
  left: 26px;
}

/* Spinner */
.wh-spinner
{
  padding: 0 5px;
  line-height: 25px;
  width: 50px;
  height: 26px;
}
.wh-spinner.disabled
{
  cursor: default;
}
.wh-spinner.disabled .wh-spinner-nav
{
  opacity:0.5;
  cursor:default;
}
.wh-spinner .wh-spinner-nav
{
  width: 13px;
}
  .wh-spinner .wh-spinner-up
, .wh-spinner .wh-spinner-down
{
  border-left: 1px solid #3d99bd;
  border-right: 1px solid #52a2c2;
}
.wh-spinner .wh-spinner-up
{
  border-top: 1px solid #72b2cc;
}
.wh-spinner .wh-spinner-down
{
  border-bottom: 1px solid #2c718b;
}

/* datepicker */
.wh-datepicker
{
  display: inline-block;
  width: 110px;
  padding: 0 23px 0 5px;
}
.wh-datepicker > .value
{
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 24px;
  margin-top:0;
  border: 0 none;
  background-color: transparent;
}

.wh-datepicker > .arrow
{
  height: 6px;
  position: absolute;
  right: 8px;
  top: 10px;
  width: 10px;
  display: block;
  background: url(pulldown-arrow.png) no-repeat 0 -18px;
  cursor: pointer;
}

/* calendar */
.wh-calendar
{
  border: 1px solid #a7a7a7;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  display: inline-block;
  border-radius: 3px;
  background-color: #fafafa;
}
.wh-calendar > .header
{
  padding: 2px 40px;
}
  .wh-calendar > .header
, .wh-calendar > .button-bar
{
  position: relative;
  background: #f2f3f2; /* Old browsers */
  background: -moz-linear-gradient(top,  #f2f3f2 0%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f3f2), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f2f3f2 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f2f3f2 0%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f2f3f2 0%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f2f3f2 0%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f2', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
  .wh-calendar > .header > .previous
, .wh-calendar > .header > .next
{
  position: absolute;
  width: 6px;
  height: 10px;
  top: 10px;
  background-color: #ff0;
  cursor: pointer;
}
.wh-calendar > .header > .previous
{
  left: 10px;
  background: url(previous-arrow.png) no-repeat -6px 0;
}
.wh-calendar > .header > .next
{
  right: 10px;
  background: url(next-arrow.png) no-repeat -24px 0;
}
.wh-calendar > .header > .wh-pulldown
{
  width: 100px;
  float: left;
  margin-right: 2px;
}
.wh-calendar > .header > .wh-spinner
{
  width: 70px;
  float: left;
}
.wh-calendar > .wh-calendar-days
{
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  clear:both;
  border-top: 1px solid #a7a7a7;
  border-bottom: 1px solid #a7a7a7;
}
.wh-calendar > .wh-calendar-days th
{
  height: 30px;
  padding: 10px 4px;
  border-bottom: 1px solid #a7a7a7;
}
.wh-calendar > .wh-calendar-days .weeknr
{
  border-right: 1px solid #a7a7a7;
  padding: 6px 8px 4px;
}
.wh-calendar > .wh-calendar-days .weeknr
.wh-calendar > .wh-calendar-days td
{
  width: 32px;
  height: 22px;
  padding-top: 5px;
  padding-bottom: 3px;
  vertical-align: top;
  text-align: center;
}
.wh-calendar > .wh-calendar-days .weeknr > span
{
  display: inline-block;
  min-width: 15px;
  padding-top: 2px;
}
.wh-calendar > .wh-calendar-days td > span
{
  display: inline-block;
  text-align: center;
  min-width: 25px;
  padding: 2px 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
}
.wh-calendar > .wh-calendar-days td.day > span:hover
{
  background-color: #eee;
  border: 1px solid #aaa;
}
.wh-calendar > .wh-calendar-days td.day.selected > span
{
  background-color: #cee4ed;
  border: 1px solid #4f9fbe;
}
.wh-calendar > .wh-calendar-days tr.firstrow td
{
  padding-top: 12px;
}
.wh-calendar > .wh-calendar-days .firstdaycol
{
  padding-left: 10px;
}
.wh-calendar > .wh-calendar-days .lastdaycol
{
  padding-right: 10px;
}
.wh-calendar > .wh-calendar-days td.weeknr
{
  text-align: right;
}
  .wh-calendar > .header:after
, .wh-calendar > .button-bar:after
, .wh-calendar .button-group:after
{
  clear: both;
  content: '';
  display: block;
}
.wh-calendar > .button-bar
{
  padding: 8px 7px;
}
.wh-calendar > .button-bar > button
{
  float:left;
}
.wh-calendar > .button-bar > .button-group
{
  float: right;
}


/* buttons */
input[type=button], button
{
  border: solid 1px #d6d6d6;
  border-radius: 3px;
  background: #dcdcdd; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #dcdcdd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dcdcdd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#dcdcdd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#dcdcdd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#dcdcdd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#dcdcdd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcdcdd',GradientType=0 ); /* IE6-9 */
  cursor: pointer;
  border-bottom: 1px solid #c0c0c0;
  color: rgba(68,68,68,0.8);
  height: 25px;
  padding: 0 10px;
  white-space: nowrap;
  line-height: normal;
  box-shadow: 0 1px 1px 0 rgba(214, 214, 214, 1);
}

input[type=button]:hover, button:hover
{
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
  color: #444;
}
input[type=button]:active, button:active
{
  background: #dcdcdc; /* Old browsers */
  background: -moz-linear-gradient(top,  #dcdcdc 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcdcdc), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #dcdcdc 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #dcdcdc 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #dcdcdc 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #dcdcdc 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  color: #444;
}
  input[type=button][disabled], button[disabled]
, input[type=submit][disabled]
{
  background: #f3f3f3; /* Old browsers */
  background: -moz-linear-gradient(top,  #f3f3f3 0%, #dddddd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #f3f3f3 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #f3f3f3 0%,#dddddd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #f3f3f3 0%,#dddddd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #f3f3f3 0%,#dddddd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
  border: 1px solid #a7a7a7;
  box-shadow: 0 none;
  color: #afafaf;
  cursor: default;
}

  input[type=submit]
, input.cta[type=button], button.cta
{
  border: 0 none;
  border-radius: 3px;
  background: #56a9c8; /* Old browsers */
  background: -moz-linear-gradient(top,  #56a9c8 0%, #1481aa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56a9c8), color-stop(100%,#1481aa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #56a9c8 0%,#1481aa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #56a9c8 0%,#1481aa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #56a9c8 0%,#1481aa 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #56a9c8 0%,#1481aa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56a9c8', endColorstr='#1481aa',GradientType=0 ); /* IE6-9 */
  cursor: pointer;
  box-shadow: 0 1px 1px 0 rgba(14, 93, 123, 1);
  color: rgba(255,255,255,0.8);
  height: 25px;
  padding: 0 10px;
  white-space: nowrap;
  line-height: 25px;
}
input.cta[type=button], button.cta
{
  line-height: normal;
}
  input[type=submit]:hover
, input.cta[type=button]:hover, button.cta:hover
{
  background: #56a9c8; /* Old browsers */
  background: -moz-linear-gradient(top,  #56a9c8 0%, #1481aa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56a9c8), color-stop(100%,#1481aa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #56a9c8 0%,#1481aa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #56a9c8 0%,#1481aa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #56a9c8 0%,#1481aa 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #56a9c8 0%,#1481aa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56a9c8', endColorstr='#1481aa',GradientType=0 ); /* IE6-9 */
  color: #fff;
}
  input[type=submit]:active
, input.cta[type=button]:active, button.cta:active
{
  background: #258aaf; /* Old browsers */
  background: -moz-linear-gradient(top,  #258aaf 0%, #45a0c2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#258aaf), color-stop(100%,#45a0c2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #258aaf 0%,#45a0c2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #258aaf 0%,#45a0c2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #258aaf 0%,#45a0c2 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #258aaf 0%,#45a0c2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#258aaf', endColorstr='#45a0c2',GradientType=0 ); /* IE6-9 */
  color: #fff;
}
.button-group
{
  border-radius: 3px;
  display: inline-block;
  overflow: hidden;
}
.button-group > button
{
  float:left;
  border-radius: 0;
}
.button-group > button + button
{
  border-left: 0 none;
}


/* tagedit */
.wh-tagedit
{
  line-height: 20px;
  padding: 0;
}
.wh-tagedit input
{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  height: 20px;
  line-height: 20px;
  margin: 2px 0 2px 1px;
  padding: 0 4px;
}
.wh-tagedit-tag
{
  background-color: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));
  background: -webkit-linear-gradient(top, #ffffff, #dddddd);
  background: -moz-linear-gradient(top, #ffffff, #dddddd);
  background: -ms-linear-gradient(top, #ffffff, #dddddd);
  background: linear-gradient(to bottom, #ffffff, #dddddd);
  border-radius: 4px;
  border: 1px solid #d6d6d6;
  color: #717171;

  height: 21px;
  line-height: 20px;
  margin: 2px 0 2px 1px;
  padding: 0 4px;
}
.wh-tagedit-tag.wh-tagedit-selected
{
  background-color: #47a1c3;
  background: -webkit-gradient(linear, left top, left bottom, from(#47a1c3), to(#1581aa));
  background: -webkit-linear-gradient(top, #47a1c3, #1581aa);
  background: -moz-linear-gradient(top, #47a1c3, #1581aa);
  background: -ms-linear-gradient(top, #47a1c3, #1581aa);
  background: linear-gradient(to bottom, #47a1c3, #1581aa);
  border-color: #56a8c8;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.8);
}
