/* the heist */
.partyelement
{
  transition: transform 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.partyelement.andwedanced
{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
.beagledoggie
{
  position: absolute;
  bottom: 0;
  left: -185px;
  z-index: 999999;
}
